@mixin home-desktop {

}

.player-control {
  .player-1 {
    position: absolute;
    bottom: -5rem;
    left: 2.5rem;
    opacity: 0;
  }

  .player-2 {
    position: absolute;
    bottom: -5rem;
    right: 2.5rem;
    opacity: 0;
  }
}

