@font-face {
  font-family: Turok;
  src: url("../font/turok.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Turok', sans-serif;
  color: #f0f0f0;
  scroll-behavior: smooth; }

html,
body {
  height: 100vh;
  width: 100vw;
  position: relative; }

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: white; }

h1 {
  font-size: 3.5rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 1.5rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.5rem; }

h4,
h5,
h6 {
  font-size: 1.5rem; }

hr {
  display: block;
  width: 5rem;
  height: 0.3rem;
  border: none;
  background: white;
  border-radius: 5px;
  margin: 1.5rem auto; }

p {
  margin-top: 1rem; }

section {
  margin: 1.5rem 0; }

button {
  border: 0;
  background: none;
  outline: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer; }

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70rem;
  height: 100%;
  background-image: url("../img/frame.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.board {
  position: absolute;
  top: 4rem; }
  .board .table {
    color: #1a1a1a;
    position: relative;
    top: 4rem;
    text-align: center; }
    .board .table > thead tr th {
      position: relative;
      font-size: 2.5rem;
      padding: 0 2rem; }
      .board .table > thead tr th:before {
        content: '';
        left: 0;
        position: absolute;
        width: 2px;
        height: 1200%;
        background: #1a1a1a; }
      .board .table > thead tr th:last-child:after {
        content: '';
        right: 0;
        position: absolute;
        width: 2px;
        height: 1200%;
        background: #1a1a1a; }
    .board .table tbody table {
      width: 100%; }
  .board h1 {
    font-size: 2rem;
    left: 0.5rem;
    position: relative; }

.skunk {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0; }
  .skunk img {
    width: 35rem;
    transform: scaleX(-1); }

.sign-play {
  display: none;
  position: absolute;
  bottom: 0; }
  .sign-play button {
    transform: rotate(-10deg);
    font-size: 3.5rem;
    position: absolute;
    left: 12rem;
    top: 10rem;
    z-index: 1; }
  .sign-play img {
    transform: rotate(-10deg); }

.sign-button {
  background-image: url("../img/sign-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  width: 20rem;
  height: 7rem;
  margin: 1.5rem; }

.modal-content {
  display: flex;
  justify-content: center; }

.player-1 {
  opacity: 0;
  position: absolute;
  top: 5rem;
  left: 2.5rem; }

.player-2 {
  opacity: 0;
  position: absolute;
  top: 5rem;
  right: 2.5rem; }
